extends includes/layout

block content
    .page(itemscope itemtype='http://schema.org/CreativeWork')
        - var content = ''
        - var pageArray = site.pages.toArray()
        - pageArray.sort((a,b)=>{let com=new Date(b.date)-new Date(a.date);if(com !== 0)return com;return a.title.localeCompare(b.title);})
        each article in pageArray
            if((article.type === 'Post') && (article.section === 'Posts'))
                - content += '<li><b>'+moment(article.date).format("YYYY-MM-DD")+'</b> <a href="../'+article.path+'">'+article.title+'</a></li><br>'
        h2.page-title!= page.title
        article!= content
        