extends includes/layout

block content
    .page(itemscope itemtype='http://schema.org/CreativeWork')
        - var tag_name=[]
        - var tag_com=[]
        - var content = ''
        - var library = ''
        - var pageArray = site.pages.toArray()
        each article in pageArray
            if ((article.type === 'Post') && (article.tags))
                if article.tags.length
                    each item in article.tags
                        - var flag = 1
                        if tag_com.length
                            each tag_list in tag_com 
                                if tag_list[0] === item
                                    - tag_list[tag_list.length] = ''
                                    - tag_list[tag_list.length-1] =article
                                    - flag = 0
                                    - break 
                        if flag
                            - tag_com[tag_com.length]=''
                            - tag_com[tag_com.length-1]=[item,article]
                        - flag = 1
        - tag_com.sort((a,b)=>{return a[0].localeCompare(b[0]);})
        each tag_list in tag_com 
            - content += '<h3 id="'+tag_list[0]+'">'+tag_list[0]+'</h3>'
            - var list_length=tag_list.length-1
            - content += list_length +' <i>Posts</i><br>'
            - tag_name[tag_name.length]=tag_list.shift();
            - tag_list.sort((a,b)=>{let com=new Date(b.date)-new Date(a.date);if(com !== 0)return com;return a.title.localeCompare(b.title);})
            each article in tag_list
                if article!=' '
                    - content += '<li><b>'+moment(article.date).format("YYYY-MM-DD")+'</b> <a href="../'+article.path+'">'+article.title+'</a></li>'
        each tag in tag_name 
            - library+= '#<a href="/Tags/index.html#'+tag+'"><i>'+tag+'</i></a> '
        h2.page-title!= page.title
        article!= library+content