extends includes/layout

block content
    .page(itemscope itemtype='http://schema.org/CreativeWork')
        - var tag_name=[]
        - var tag_com=[]
        - var content = ''
        - var library = ''
        - var pageArray = site.pages.toArray()
        each article in pageArray
            if ((article.type === 'Post') && (article.tags))
                if article.tags.length
                    each item in article.tags
                        - var flag = 1
                        if tag_com.length
                            each tag_list in tag_com 
                                if tag_list[0] === item
                                    - tag_list[tag_list.length] = ''
                                    - tag_list[tag_list.length-1] =article
                                    - flag = 0
                                    - break 
                        if flag
                            - tag_com[tag_com.length]=''
                            - tag_com[tag_com.length-1]=[item,article]
                        - flag = 1
        - tag_com.sort((a,b)=>{return a[0].localeCompare(b[0]);})
        each tag_list in tag_com 
            - var list_length=tag_list.length-1
            - content += '<h3 id="'+tag_list[0]+'">'+tag_list[0]+'<sup>'+list_length+'</sup></h3>'
            - tag_name[tag_name.length]=tag_list.shift();
            - tag_list.sort((a,b)=>{let com=new Date(b.date)-new Date(a.date);if(com !== 0)return com;return a.title.localeCompare(b.title);})
            each article in tag_list
                if article!=' '
                    - var plainText = article.content.replace(/<[^>]+>/g, '');
                    - plainText = plainText.replace(/\[([^\]]+)\]\([^)]+\)/g, '$1');
                    - plainText = plainText.replace(/\*\*([^*]+)\*\*/g, '$1');
                    - plainText = plainText.replace(/\*([^*]+)\*/g, '$1');
                    - plainText = plainText.replace(/\s+/g, ' ').trim();
                    - var excerpt = plainText.split(/\s+/).slice(0, 50).join(' ');
                    - content += '<i class="fab fa-telegram-plane"></i> <a href="../'+article.path+'"><b>'+article.title+'</b></a> <i class="far fa-calendar"></i> <b>'+moment(article.date).format("YYYY-MM-DD")+'</b><br><i class="fas fa-align-left"></i> <i>'+excerpt+'...</i><br>'
        each tag in tag_name 
            - library+= '<i class="fas fa-tag"></i> <a href="/Tags/index.html#'+tag+'"><i>'+tag+'</i></a> '
        h2.page-title!= page.title
        article!= library+content