extends includes/layout

block content
    .page(itemscope itemtype='http://schema.org/CreativeWork')
        - var tag_name=[]
        - var tag_list=[]
        - var tag_item=[]
        - var content = ''
        - var library = ''
        - var pageArray = site.pages.toArray()
        each article in pageArray
            if ((article.type === 'Post') && (article.tags))
                if article.tags.length
                    each item in article.tags
                        - var flag = 1
                        if tag_name.length
                            each tag in tag_name 
                                if (( tag === item ) && (tag_list[tag_name.indexOf(tag)]))
                                    - tag_list[tag_name.indexOf(tag)][tag_list[tag_name.indexOf(tag)].length] = ''
                                    - tag_list[tag_name.indexOf(tag)][tag_list[tag_name.indexOf(tag)].length-1] =article.path
                                    - tag_item[tag_name.indexOf(tag)][tag_list[tag_name.indexOf(tag)].length] = ''
                                    - tag_item[tag_name.indexOf(tag)][tag_list[tag_name.indexOf(tag)].length-1] =article.title
                                    - flag = 0
                                    - break 
                        if flag
                            - tag_name[tag_name.length] = item 
                            - tag_list[tag_name.length-1] = [article.path]
                            - tag_item[tag_name.length-1] = [article.title]
                        - flag = 1
        each tag in tag_name 
            if ((tag_list[tag_name.indexOf(tag)]) && (tag!==' '))
                - content += '<h3 id="'+tag+'">'+tag+'</h3>'
                - content += tag_list[tag_name.indexOf(tag)].length+' <i>Posts</i><br>'
                each article in tag_list[tag_name.indexOf(tag)]
                    if article!=' '
                        - content += '<li><a href="../'+article+'">'+tag_item[tag_name.indexOf(tag)][tag_list[tag_name.indexOf(tag)].indexOf(article)]+'</a></li>'
        - tag_name.sort((a,b)=>{return a.localeCompare(b);})
        each tag in tag_name 
            - library+= '#<a href="/Tags/index.html#'+tag+'"><i>'+tag+'</i></a> '
        h2.page-title!= page.title
        article!= library+content