extends includes/layout

block content
    .page(itemscope itemtype='http://schema.org/CreativeWork')
        - var tag_name=[]
        - var tag_list=[]
        - var tag_item=[]
        - var tag_date=[]
        - var content = ''
        - var library = ''
        - var pageArray = site.pages.toArray()
        each article in pageArray
            if ((article.type === 'Post') && (article.tags))
                if article.tags.length
                    each item in article.tags
                        - var flag = 1
                        if tag_name.length
                            each tag in tag_name 
                                if (( tag === item ) && (tag_list[tag_name.indexOf(tag)]))
                                    - tag_list[tag_name.indexOf(tag)][tag_list[tag_name.indexOf(tag)].length] = ''
                                    - tag_list[tag_name.indexOf(tag)][tag_list[tag_name.indexOf(tag)].length-1] =article
                                    - flag = 0
                                    - break 
                        if flag
                            - tag_name[tag_name.length] = item 
                            - tag_list[tag_name.length-1] = [article]
                        - flag = 1
        - tag_name.sort((a,b)=>{if(a.localeCompare(b)>0){[tag_list[tag_name.indexOf(a)],tag_list[tag_name.indexOf(b)]]=[tag_list[tag_name.indexOf(b)],tag_list[tag_name.indexOf(a)]];}return a.localeCompare(b);})
        each tag in tag_name 
            if ((tag_list[tag_name.indexOf(tag)]) && (tag!==' '))
                - content += '<h3 id="'+tag+'">'+tag+'</h3>'
                - content += tag_list[tag_name.indexOf(tag)].length+' <i>Posts</i><br>'
                - tag_list[tag_name.indexOf(tag)].sort((a,b)=>{let com=new Date(b.date)-new Date(a.date);if(com !== 0)return com;return a.title.localeCompare(b.title);})
                each article in tag_list[tag_name.indexOf(tag)]
                    if article!=' '
                        - content += '<li><b>'+moment(article.date).format("YYYY-MM-DD")+'</b> <a href="../'+article.path+'">'+article.title+'</a></li>'
        each tag in tag_name 
            - library+= '#<a href="/Tags/index.html#'+tag+'"><i>'+tag+'</i></a> '
        h2.page-title!= page.title
        article!= library+content